@value topAdjust:40%;
@value leftAdjust:40%;
@value widthAdjust:40%;
@value heigthAdjust:50%;



.video{
  border-radius:0%;
}

.image_container {
  position: relative;
  display: inline-block;
}

.image_container img {
  display: block;
  max-width: 100%;
  height: auto;
}


.dynamic_box {
  position: absolute;
  top: topAdjust; /* Adjust as needed */
  left: leftAdjust; /* Adjust as needed */
  width: widthAdjust; /* Adjust as needed */
  height: heigthAdjust; /* Adjust as needed */
  border: 2px solid red; /* Box styling */
  box-sizing: border-box;
  //transition: all 0.3s ease; /* Makes the box dynamic (smooth transitions) */
}
